{% extends 'base.html' %}
{% block content %}

<h1>details</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header">
   Patient
  </div>
  <div class="card-body">
    <h5 class="card-title">Patient Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
<div class="card-header">
   Appointments
  </div>
  <div class="card-body">
    <h5 class="card-title">Appointments</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
<div class="card-header">
 Medicataions
  </div>
  <div class="card-body">
    <h5 class="card-title">Medicataions</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
{% endblock %}