{% extends 'base.html' %}
{% block content %}

<h1>Patient List</h1>

{% for patient in patients %}

   <div class="card">
    <a href="{% url 'detail' patient.name%}">
        <div class="card-body">
          <span class="card-title"><h2>{{ patient.name }}</h2></span></a>
            <p> <label>Date Of Birth:</label> {{ patient.d_o_b }} </p>
            <p> <label>Relation:</label> {{ patient.user_relation }} </p>
            <p> <label>Healthcare Provider:</label> {{ patient.healthcare }} </p>
         </div>
<div class="card-action">
         <a href="{% url 'patients_update' patient.name %}">Edit</a>
         <a href="{% url 'patients_delete' patient.name %}">Delete</a>
    </div>
    </div>

    
{% endfor %}
<a href="create/"> + Add a New Patient</a>
{% endblock %}